# R / RStudio
.Rhistory
**/.Rhistory
.Rproj.user/
.RData

# Quarto
_site/
.quarto/
*_files/

# Python
__pycache__/
figs/__pycache__/

# OS
.DS_Store
Thumbs.db
_quarto.yml
index.qmd

/.quarto/
**/*.quarto_ipynb
